#OS files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pdb
*.opensdf
ipch/
obj/
#[Bb]in
#[Bb]uild
[Dd]ebug*/
#[Rr]elease*/
Ankh.NoLoad

#Hidden files
.*
!/.gitignore
!/.gitattributes

#Tooling
#_ReSharper*/
#*.resharper
#[Tt]est[Rr]esult*

#Archives
#.zip
#.7z

# VVVV backup
*~.xml

# VVVV test and archive files
_tester*/
_release archive*/

# nuget
[Pp]ackages/

#dll's
#*.dll

#other files
*.avi
*.raw
